<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add food</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Add food</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="addedMessage" type="java.lang.String"*/-->
            <h2 th:unless="${addedMessage==null}" th:text="${addedMessage}"></h2>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <h2 th:unless="${errorMessage==null}" th:text="${errorMessage}" style="color: red"></h2>

            <!--/*@thymesVar id="food100g" type="com.ulawil.dietapp.food.Food100g"*/-->
            <form th:action="@{/food/add}" th:object="${food100g}" method="post" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input th:field="${food100g.name}" type="text" id="name" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="kcal">Kcal/100g</label>
                        <input th:field="${food100g.kcal}" type="number" id="kcal" min="0" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="carbs">Carbs/100g [g]</label>
                        <input th:field="${food100g.carbs}" type="number" step="0.1" min="0.0" id="carbs" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="protein">Protein/100g [g]</label>
                        <input th:field="${food100g.protein}" type="number" step="0.1" min="0.0" id="protein" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="fat">Fat/100g [g]</label>
                        <input th:field="${food100g.fat}" type="number" step="0.1" min="0.0" id="fat" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="add"></label>
                        <button type="submit" name="addFood" id="add" class="pure-button pure-button-primary">Add</button>
                    </div>
                </fieldset>
            </form>

        </div>
        <div class="pure-u-7-24">

        </div>
    </div>
</main>
</body>
</html>