<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add food</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Add food</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="addedMessage" type="java.lang.String"*/-->
            <h2 th:unless="${addedMessage==null}" th:text="${addedMessage}"></h2>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <h2 th:unless="${errorMessage==null}" th:text="${errorMessage}" style="color: red"></h2>

            <!--/*@thymesVar id="food100g" type="com.ulawil.dietapp.model.Food100g"*/-->
            <form th:action="@{/addFood}" th:object="${food100g}" method="post" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input th:field="${food100g.name}" type="text" id="name" placeholder="name"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="kcal">Kcal/100g</label>
                        <input th:field="${food100g.kcal}" type="number" id="kcal"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="carbs">Carbs/100g [g]</label>
                        <input th:field="${food100g.carbs}" type="number" id="carbs"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="protein">Protein/100g [g]</label>
                        <input th:field="${food100g.protein}" type="number" id="protein"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="fat">Fat/100g [g]</label>
                        <input th:field="${food100g.fat}" type="number" id="fat"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="add"></label>
                        <button type="submit" name="addFood" id="add" class="pure-button pure-button-primary">Add</button>
                    </div>
                </fieldset>
            </form>

            <form th:action="@{/addFood}" action="#" method="post" class="pure-form">
                <fieldset>
                    <legend>Browse foods</legend>
                    <input th:name="foodName" type="text" placeholder="Name"/>
                    <button type="submit" name="searchFood" class="pure-button pure-button-primary">Search</button>
                    <span class="pure-form-message-inline">Leave blank to search all foods</span>
                </fieldset>
            </form>

            <!--/*@thymesVar id="foundFoods" type="java.util.List<ulawil.dietapp.model.Food100g>"*/-->
            <p th:unless="${foundFoods==null}" style="font-size: small">* Values for 100g</p>
            <table th:unless="${foundFoods==null}" style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                <thead>
                <tr style="text-align: center; vertical-align: middle">
                        <th>Name</th>
                        <th>Kcal</th>
                        <th>Carbs<br>[g]</th>
                        <th>Protein<br>[g]</th>
                        <th>Fat<br>[g]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="food100g : ${foundFoods}">
                        <td th:text="${food100g.name}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.kcal}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.carbs}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.protein}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.fat}__,1,0)}"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>

        </div>
        <div class="pure-u-7-24">

        </div>
    </div>
</main>
</body>
</html>