<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Create a meal</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="createdMessage" type="java.lang.String"*/-->
            <p th:unless="${createdMessage==null}" th:text="${createdMessage}" style="font-size: x-large; font-weight: bold; color: yellowgreen"></p>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <p th:unless="${errorMessage==null}" th:text="${errorMessage}" style="font-size: x-large; font-weight: bold; color: red"></p>

            <form th:action="@{/meal/create}" method="post" class="pure-form">
                <fieldset>
                    <!--/*@thymesVar id="mealToCreate" type="com.ulawil.dietapp.food.meal.Meal"*/-->
                    <input  th:attrappend="disabled=${ingredients==null || ingredients.isEmpty()}?'disabled'" th:field="${mealToCreate.name}" type="text"   name="mealName"   placeholder="Meal name" required/>
                    <button th:attrappend="disabled=${ingredients==null || ingredients.isEmpty()}?'disabled'" type="submit" name="createMeal" class="pure-button pure-button-primary">Create</button>
                </fieldset>
            </form>

            <!--/*@thymesVar id="ingredients" type="java.util.List<com.ulawil.dietapp.food.ingredient.Ingredient>"*/-->
            <table th:unless="${ingredients==null || ingredients.isEmpty()}" style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                <thead>
                <tr style="text-align: center; vertical-align: middle">
                    <th>Name</th>
                    <th>Amount<br>[g]</th>
                    <th>Kcal</th>
                    <th>Carbs<br>[g]</th>
                    <th>Protein<br>[g]</th>
                    <th>Fat<br>[g]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingredient : ${ingredients}">
                    <td th:text="${ingredient.name}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.kcal}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.carbs}__,1,1)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.protein}__,1,1)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.fat}__,1,1)}"></td>
                    <td>
                        <form th:action="@{/meal/create}" th:object="${ingredient}" method="post" class="pure-form">
                            <button th:name="deleteIngredient" th:value="${ingredient.id}" type="submit">x</button>
                        </form>
                    </td>
                </tr>
                <tr style="font-weight: bold">
                    <td>Total</td>
                    <!--/*@thymesVar id="mealStats" type="com.ulawil.dietapp.food.meal.MealStats"*/-->
                    <td th:text="${#numbers.formatDecimal(__${mealStats.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealStats.kcal}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealStats.carbs}__,1,1)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealStats.protein}__,1,1)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealStats.fat}__,1,1)}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <br>

            <form th:action="@{/meal/create}" method="post" class="pure-form">
                <fieldset>
                    <legend>Add ingredients</legend>
                    <input th:name="foodName" type="text" placeholder="Ingredient" class="pure-input-1-10"/>
                    <button type="submit" name="searchFood" class="pure-button pure-button-primary">Search</button>
                    <span class="pure-form-message-inline">Leave blank to search all ingredients</span>
                </fieldset>
            </form>

            <!--/*@thymesVar id="foundFoods" type="java.util.List<ulawil.dietapp.model.Food100g>"*/-->
            <div th:unless="${foundFoods==null}">
                <div th:if="${foundFoods.isEmpty()}">
                    <span>Didn't find what you were looking for?</span> <a href="/meal/create">Try adding it yourself!</a>
                </div>
                <table th:unless="${foundFoods.isEmpty()}" style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                    <thead>
                    <tr style="text-align: center; vertical-align: middle">
                        <th>Name</th>
                        <th>Kcal<br>(100g)</th>
                        <th>Carbs [g]<br>(100g)</th>
                        <th>Protein [g]<br>(100g)</th>
                        <th>Fat [g]<br>(100g)</th>
                        <th>Amount [g]</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="food100g, foodStat : ${foundFoods}" style="text-align: center">
                        <td th:text="${food100g.name}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.kcal}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.carbs}__,1,1)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.protein}__,1,1)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.fat}__,1,1)}"></td>
                        <td>
                            <input th:form="${foodStat.index}" name="foodAmount" type="number" min="0.0" required style="width: 70px">
                        </td>
                        <td>
                            <form th:id="${foodStat.index}" th:action="@{/meal/create}" method="post" class="pure-form">
                                <button name="addIngredient" th:value="${food100g.id}" type="submit">+</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>

        </div>

        <div class="pure-u-7-24"></div>
    </div>
</main>
</body>
</html>