<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Meals</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="createdMessage" type="java.lang.String"*/-->
            <h2 th:if="${createdMessage != null}" th:text="${createdMessage}"></h2>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <h2 th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red"></h2>

            <!--/*@thymesVar id="mealToCreate" type="com.ulawil.dietapp.model.Meal"*/-->
            <form th:action="@{/createMeal}" th:object="${mealToCreate}" action="#" method="post" class="pure-form">
                <fieldset>
                    <input th:attrappend="disabled=${mealToCreate.ingredients.isEmpty()}?'disabled'" type="text" placeholder="Meal name" name="mealName"/>
                    <button th:attrappend="disabled=${mealToCreate.ingredients.isEmpty()}?'disabled'" type="submit" name="createMeal" class="pure-button pure-button-primary">Create</button>
                    <button th:attrappend="disabled=${mealToCreate.ingredients.isEmpty()}?'disabled'" type="submit" name="resetMeal" class="pure-button pure-button-primary">Reset</button>
                </fieldset>
            </form>

            <table th:if="${!mealToCreate.ingredients.isEmpty()}" style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount[g]</th>
                    <th>Kcal</th>
                    <th>Carbs [g]</th>
                    <th>Protein [g]</th>
                    <th>Fat [g]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingredient : ${mealToCreate.ingredients}">
                    <!--/*@thymesVar id="food" type="com.ulawil.dietapp.model.Food100g"*/-->
                    <td th:text="${ingredient.food100g.name}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.kcal}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.carbs}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.protein}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.fat}__,1,0)}"></td>
                    <td>
                        <form th:action="@{/meals}" th:object="${ingredient}" action="#" method="post" class="pure-form">
                            <button th:name="deleteIngredient" th:value="${ingredient.id}" type="submit">x</button>
                        </form>
                    </td>
                </tr>
                <tr style="font-weight: bold">
                    <!--/*@thymesVar id="totalKcal" type="java.lang.Integer"*/-->
                    <td>Total</td>
                    <td th:text="${#numbers.formatDecimal(__${mealToCreate.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealToCreate.kcal}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealToCreate.carbs}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealToCreate.protein}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${mealToCreate.fat}__,1,0)}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <br>

            <form th:action="@{/createMeal}" action="#" method="post" class="pure-form">
                <fieldset>
                    <legend>Add ingredients</legend>
                    <input th:name="foodName" type="text" placeholder="Ingredient" class="pure-input-1-10"/>
                    <button type="submit" name="searchFood" class="pure-button pure-button-primary">Search</button>
                </fieldset>
            </form>

            <!--/*@thymesVar id="foundFoods" type="java.util.List<ulawil.dietapp.model.Food100g>"*/-->
            <table th:if="${foundFoods != null}" style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kcal/100g</th>
                        <th>Carbs/100g [g]</th>
                        <th>Protein/100g [g]</th>
                        <th>Fat/100g [g]</th>
                        <th>Amount [g]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="food100g, foodStat : ${foundFoods}">
                        <td th:text="${food100g.name}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.kcal}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.carbs}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.protein}__,1,0)}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.fat}__,1,0)}"></td>
                        <td>
                            <input th:form="${foodStat.index}" name="amount" type="number">
                        </td>
                        <td>
                            <form th:id="${foodStat.index}" th:action="@{/createMeal}" action="#" method="post" class="pure-form">
                                <button name="addIngredient" th:value="${food100g.id}" type="submit">+</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>

        </div>

        <div class="pure-u-7-24"></div>
    </div>
</main>
</body>
</html>