<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Food panel</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-1-3">

        </div>
        <div class="pure-u-1-3">
            <!--/*@thymesVar id="addedMessage" type="java.lang.String"*/-->
            <h1 th:if="${addedMessage != null}" th:text="${addedMessage}"></h1>
            <!--/*@thymesVar id="food" type="com.ulawil.dietapp.model.Food"*/-->
            <form action="#" method="post" th:action="@{/foods}" th:object="${food}" class="pure-form">
                <fieldset>
                    <legend>Add a new item</legend>
                    <input type="text" placeholder="Name" th:field="${food.name}"/>
                    <input type="number" placeholder="Calories per 100g" th:field="${food.kcal100g}"/>
                    <button type="submit" name="addFood" class="pure-button pure-button-primary">+</button>
                </fieldset>
            </form>
            <form action="#" method="post" th:action="@{/foods}" class="pure-form">
                <fieldset>
                    <legend>Search for an item</legend>
                    <input type="text" placeholder="Name" th:name="foodName"/>
                    <button type="submit" name="searchFood" class="pure-button pure-button-primary">Search</button>
                </fieldset>
            </form>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>kcal/100g</th>
                        <th>Amount[g]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="foundFoods" type="java.util.List<ulawil.dietapp.model.Food>"*/-->
                    <tr th:each="food : ${foundFoods}">
                        <td th:text="${food.name}"></td>
                        <td th:text="${food.kcal100g}"></td>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            <button type="submit">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-1-3">

        </div>
    </div>
</main>
</body>
</html>