<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Meal details</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="mealDetails" type="com.ulawil.dietapp.meal.Meal"*/-->
            <form th:object="${mealDetails}" th:action="@{meal/mealDetails.id}" method="post" class="pure-form">
                <fieldset th:if="${!mealDetails.ingredients.isEmpty()}">
                    <legend th:text="${mealDetails.name}"></legend>
                    <table style="font-size: small" class="pure-table pure-table-bordered pure-table-striped">
                        <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Amount [g]</th>
                            <th>Kcal</th>
                            <th>Carbs [g]</th>
                            <th>Protein [g]</th>
                            <th>Fat [g]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ingredient : ${mealDetails.ingredients}">
                            <td th:text="${ingredient.food100g.name}"></td>
                            <td th:text="${#numbers.formatDecimal(__${ingredient.grams}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${ingredient.kcal}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${ingredient.carbs}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${ingredient.protein}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${ingredient.fat}__,1,0)}"></td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>Total</td>
                            <td th:text="${#numbers.formatDecimal(__${mealDetails.grams}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${mealDetails.kcal}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${mealDetails.carbs}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${mealDetails.protein}__,1,0)}"></td>
                            <td th:text="${#numbers.formatDecimal(__${mealDetails.fat}__,1,0)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>

        </div>

        <div class="pure-u-7-24"></div>
    </div>
</main>
</body>
</html>