<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">
        <div class="pure-u-1-3"></div>

        <div class="pure-u-1-3">

            <h1>Meals</h1>

            <div th:replace="menu :: menu"></div>
            <br>
            <!--/*@thymesVar id="createdMessage" type="java.lang.String"*/-->
            <h2 th:if="${createdMessage != null}" th:text="${createdMessage}"></h2>

            <!--/*@thymesVar id="meal" type="com.ulawil.dietapp.meal.Meal"*/-->
            <form th:action="@{/meals}" th:object="${meal}" action="#" method="post" class="pure-form">
                <fieldset>
                    <input th:attrappend="disabled=${meal.ingredients.isEmpty()}?'disabled'" type="text" placeholder="Meal name" name="mealName"/>
                    <button th:attrappend="disabled=${meal.ingredients.isEmpty()}?'disabled'" type="submit" name="createMeal" class="pure-button pure-button-primary">Create</button>
                    <button th:attrappend="disabled=${meal.ingredients.isEmpty()}?'disabled'" type="submit" name="resetMeal" class="pure-button pure-button-primary">Reset</button>
                </fieldset>
            </form>

            <form action="#" method="post" class="pure-form">
                <fieldset>
            <table th:if="${!meal.ingredients.isEmpty()}" class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount[g]</th>
                    <th>kcal</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingredient : ${meal.ingredients}">
                    <!--/*@thymesVar id="food" type="com.ulawil.dietapp.food.Food"*/-->
                    <td th:text="${ingredient.food.name}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${ingredient.kcal}__,1,0)}"></td>
                    <td>
                        <form th:action="@{/meals}" th:object="${ingredient}" action="#" method="post" class="pure-form">
                            <button th:name="deleteIngredient" th:value="${ingredient.id}" type="submit">x</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <!--/*@thymesVar id="totalKcal" type="java.lang.Integer"*/-->
                    <td>Total</td>
                    <td th:text="${#numbers.formatDecimal(__${meal.grams}__,1,0)}"></td>
                    <td th:text="${#numbers.formatDecimal(__${meal.kcal}__,1,0)}"></td>
                </tr>
                </tbody>
            </table>
                </fieldset>
            </form>
            <br>

            <form th:action="@{/meals}" action="#" method="post" class="pure-form">
                <fieldset>
                    <legend>Add ingredients</legend>
                    <input th:name="foodName" type="text" placeholder="Ingredient"/>
                    <button type="submit" name="searchFood" class="pure-button pure-button-primary">Search</button>
                </fieldset>
            </form>

            <!--/*@thymesVar id="foundFoods" type="java.util.List<ulawil.dietapp.model.Food>"*/-->
            <table th:if="${foundFoods != null}" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>kcal/100g</th>
                        <th>Amount[g]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="food100g, foodStat : ${foundFoods}">
                        <td th:text="${food100g.name}"></td>
                        <td th:text="${#numbers.formatDecimal(__${food100g.kcal100g}__,1,0)}"></td>
                        <td>
                            <input th:form="${foodStat.index}" th:name="amount" type="number" placeholder="0"/>
                        </td>
                        <td>
                            <form th:id="${foodStat.index}" th:action="@{/meals}" action="#" method="post" class="pure-form">
                                <button th:name="addIngredient" th:value="${food100g.id}" type="submit">+</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pure-u-1-3"></div>
    </div>
</main>
</body>
</html>