<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
    <div class="pure-g">
        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">
            
            <h1>My profile</h1>

            <div th:replace="menu :: menu"></div>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <p th:unless="${errorMessage==null}" th:text="${errorMessage}" style="font-weight: bold; color: red"></p>

            <!--/*@thymesVar id="currentUser" type="com.ulawil.dietapp.user.User"*/-->
            <div th:object="${currentUser}" class="pure-form pure-form-aligned">
                <fieldset>
                    <legend>About me</legend>
                    <div class="pure-control-group">
                        <label for="firstName">First name: </label>
                        <span th:text="${currentUser.firstName}" id="firstName"></span>
                    </div>
                    <div class="pure-control-group">
                        <label for="lastName">Last name: </label>
                        <span th:text="${currentUser.lastName}" id="lastName"></span>
                    </div>
                    <br>
                    <div class="pure-control-group">
                        <label for="kcalGoal">Daily kcal goal:</label>
                        <span th:text="${currentUser.getDailyKcalGoal}" id="kcalGoal"></span>
                    </div>
                    <div class="pure-control-group">
                        <label for="carbsGoal">Daily carbs goal [%]:</label>
                        <span th:text="${currentUser.dailyCarbsGoalPct}" id="carbsGoal"></span>
                    </div>
                    <div class="pure-control-group">
                        <label for="proteinGoal">Daily protein goal [%]:</label>
                        <span th:text="${currentUser.dailyProteinGoalPct}" id="proteinGoal"></span>
                    </div>
                    <div class="pure-control-group">
                        <label for="fatGoal">Daily fat goal [%]:</label>
                        <span th:text="${currentUser.getDailyFatGoalPct}" id="fatGoal"></span>
                    </div>
                    <div class="pure-control-group">
                        <label for="editBtn"></label>
                        <a href="/profile/edit" id="editBtn" class="pure-button pure-button-primary">Edit</a>
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="pure-u-7-24"></div>
    </div>
</body>
</html>