<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">

        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Register</h1>

            <div th:replace="menu :: menu"></div>
            <br>

            <!--/*@thymesVar id="userDTO" type="com.ulawil.dietapp.user.UserDTO"*/-->
            <!--/*@thymesVar id="emailConfirmed" type="java.lang.Boolean"*/-->
            <form th:unless="${emailConfirmed}" th:action="@{/register}" th:object="${userDTO}" action="#" method="post" class="pure-form pure-form-stacked">
                <fieldset class="pure-group">
                    <input th:field="${userDTO.firstName}" type="text" required placeholder="First name"/>
                    <input th:field="${userDTO.lastName}" type="text" required placeholder="Last name"/>
                    <input th:field="${userDTO.email}" type="email" required placeholder="Email"/>
                    <input th:field="${userDTO.password}" type="password" required placeholder="Password"/>
                    <button type="submit" class="pure-button pure-button-primary">Register</button>
                </fieldset>
            </form>

            <!--/*@thymesVar id="message" type="java.lang.String"*/-->
            <h3 th:unless="${message==null}" th:text="${message}"></h3>

            <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
            <h3 th:unless="${errorMessage==null}" th:text="${errorMessage}" style="color: red"></h3>

        </div>

        <div class="pure-u-7-24"></div>

    </div>
</main>
</body>
</html>