<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="pure-g">

        <div class="pure-u-7-24"></div>

        <div class="pure-u-10-24">

            <h1>Register</h1>

            <!--/*@thymesVar id="userDTO" type="com.ulawil.dietapp.model.UserDTO"*/-->
            <form th:action="@{/register}" th:object="${userDTO}" action="#" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    <input th:field="${userDTO.firstName}" type="text" placeholder="First name"/>
                    <input th:field="${userDTO.lastName}" type="text" placeholder="Last name"/>
                    <input th:field="${userDTO.email}" type="email" placeholder="Email"/>
                    <input th:field="${userDTO.password}" type="password" placeholder="Password"/>
                    <button type="submit" class="pure-button pure-button-primary">Register</button>
                </fieldset>
            </form>

        </div>

        <div class="pure-u-7-24"></div>

    </div>
</main>
</body>
</html>